/* Shared Styles */

/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Serif", serif;
}
/* Using Color */
.primary_color {
  color: black;
}
.secondary_color {
  color: black;
  opacity: 0.5;
}
.highlight_color {
  color: #e95a08;
}

.fl_container {
  max-width: 1140px;
  margin: 0 auto;
}

.flex {
  display: flex;
}
.fl_title {
  font-size: 3.2rem;
  font-weight: bold;
  color: black;
}
.fl_subTitle {
  font-size: 1.4rem;
  color: black;
  opacity: 50%;
  font-family: inter;
  font-weight: 300;
  margin-top: 16px;
}
/* Header style here ... */
.fl_navigation {
  justify-content: space-between;
  padding: 30px 0 120px 0;
}
.fl_navigation ul {
  list-style: none;
  gap: 48px;
  align-items: center;
}
.fl_navigation ul a {
  text-decoration: none;
  color: #8987a1;
  font-family: inter;
}
.fl_navigation ul li:nth-child(4) {
  align-items: center;
  gap: 10px;
}
.fl_navigation ul li:nth-child(4) a {
  color: black;
}
.fl_container ul li a:hover {
  color: black;
}
/* Hero_area style here ... */
.fl_hero_area {
  align-items: flex-end;
}
.fl_hero_content h1 {
  font-size: 4.1rem;
  margin-bottom: 15px;
  font-weight: bold;
}
/* Add-to-cart section styles here ... */

.fl_add_to_cart {
  text-align: center;
  margin: 120px 0;
}
.fl_add_to_cart p {
  width: 80%;
  margin: 20px auto;
}

.fl_cart_group {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px 20px;
}
.fl_single_cart {
  display: flex;
  flex-direction: column;
}
.fl_single_cart button {
  background-color: #e95a08;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 500;
  border: none;
  padding: 19px;
  font-family: inter;
  text-transform: uppercase;
  margin-top: 30px;
}
.fl_single_cart h3 {
  font-size: 1.4rem;
  font-family: inter;
  margin-top: 10px;
}
.fl_single_cart h3:nth-child(even) {
  font-weight: 400;
  margin-top: 20px;
}

/* Flower store styles here ... */

.fl_flower_shop {
  gap: 60px;
  align-items: center;
  position: relative;
  margin-top: 200px;
}
.fl_flower_shop img {
  width: 46%;
}
.fl_flower_shop .fl_flower_shop_content ul {
  padding-left: 40px;
}
@keyframes myAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.fl_flower_shop_content img {
  position: absolute;
  top: -140px;
  left: 316px;
  width: 27%;
  animation: myAnimation 3s infinite;
}

/* Challenge part styles here ... */
.fl_latest_deal_section {
  margin: 120px 0;
  text-align: center;
}
.fl_latest_deal_section p {
  width: 75%;
  margin: 16px auto;
}
.fl_cart_layout_section {
  margin-top: 120px;
  gap: 28px;
}

.fl_cart {
  flex-direction: column;
  gap: 28px;
  width: 33%;
}
.fl_cart_layout1,
.fl_cart_layout2 {
  background: url("../assets/deal-bloom.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20%;
  border-radius: 10px;
  position: relative;
}
.fl_cart_layout3 {
  background: url("../assets/deal-zabo.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  flex: 1;
  padding: 12%;
  position: relative;
}
.fl_cart_layout1::before,
.fl_cart_layout2::before,
.fl_cart_layout3::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  inset: 0;
  border-radius: 10px;
}
.fl_cart_layout2 {
  background: url("../assets/deal-ana.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.fl_cart_layout1 h4,
.fl_cart_layout2 h4 {
  color: #ffffff;
  font-size: 1.2rem;
  position: relative;
}
.fl_cart_layout1 button,
.fl_cart_layout2 button,
.fl_cart_layout3 button {
  background: transparent;
  border: none;
  color: #ffffff;
  text-decoration: underline;
  cursor: pointer;
  position: relative;
}
.fl_cart_layout3 h4 {
  font-size: 2.5rem;
  color: #ffffff;
  position: relative;
}
.fl_cart_layout3 button {
  font-size: 1.6rem;
}
/* Newsletter section Style here ...... */
.fl_newsletter {
  background: url("../assets/news-letter-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15%;
}
.fl_newsletter h2 {
  font-size: 3.2rem;
  color: #ffffff;
  margin-bottom: 30px;
}

.fl_newsletter input {
  padding: 15px 20px;
  width: 650px;
  font-family: inter;
  outline: #ffffff;
}
.fl_newsletter button {
  padding: 17px 50px;
  color: #ffffff;
  background: #e95a08;
  border: none;
  font-family: inter;
  margin-left: -5px;
}

/* Footer section style here ... */
.fl_footer_section {
  padding: 50px 0;
  gap: 110px;
  align-items: flex-start;
}
.fl_footer_logo {
  width: 40%;
}
.fl_footer_nav {
  width: 17%;
}
.fl_footer_nav ul {
  gap: 26px;
  flex-direction: column;
  list-style: none;
}
.fl_footer_nav ul a {
  color: #8987a1;
  text-decoration: none;
  font-family: inter;
}
.fl_social_icon {
  width: 28%;
  justify-content: end;
  gap: 25px;
}

/*-------------------- Responsive For Mobile Device-------------------- */

@media screen and (max-width: 575px) {
  .fl_navigation,
  .fl_hero_content,
  .fl_add_to_cart,
  .fl_flower_shop {
    padding: 30px 16px;
  }

  .fl_navigation ul li:nth-child(1),
  .fl_navigation ul li:nth-child(2),
  .fl_navigation ul li:nth-child(3) {
    display: none;
  }
  .fl_navigation > img {
    width: 63px;
  }

  .fl_hero_area {
    flex-direction: column-reverse;
  }
  .fl_hero_content h1,
  .fl_title {
    font-size: 1.5rem;
  }
  .fl_subTitle {
    font-size: 0.9rem;
    line-height: 20px;
  }
  /* add-to-cart Section */
  .fl_add_to_cart {
    text-align: center;
    margin: 0;
  }
  .fl_add_to_cart p {
    width: 100%;
  }
  .fl_cart_group {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px 20px;
  }
  .fl_single_cart h3,
  .fl_single_cart button {
    font-size: 1rem;
  }
  /* shop_section */
  .fl_flower_shop {
    flex-direction: column;
    margin-top: 0;
  }
  .fl_flower_shop img {
    width: 100%;
  }
  .fl_flower_shop .fl_flower_shop_content ul {
    padding-left: 22px;
  }
  .fl_flower_shop_content img {
    display: none;
  }
  /* Challenge part styles here ... */
  .fl_cart_layout_section {
    margin: 50px 0;
  }
  .fl_latest_deal_section {
    margin-top: 50px;
    padding-left: 16px;
    padding-right: 16px;
  }
  .fl_cart_layout_section {
    flex-direction: column;
  }
  .fl_cart {
    width: 100%;
  }
  .fl_cart_layout3 {
    padding: 20%;
  }
  .fl_cart_layout1 h4,
  .fl_cart_layout2 h4,
  .fl_cart_layout3 h4,
  .fl_newsletter h2 {
    font-size: 1.2rem;
  }
  .fl_cart_layout1 button,
  .fl_cart_layout2 button,
  .fl_cart_layout3 button {
    font-size: 1rem;
  }
  .fl_cart_layout_section,
  .fl_cart {
    gap: 20px;
  }

  /* Newsletter section */

  .fl_newsletter input {
    width: 218px;
  }
  .fl_newsletter button {
    padding: 15px 19px;
  }

  /* Footer section Style here .... */
  .fl_footer_section {
    flex-direction: column;
    gap: 50px;
    padding: 50px 16px;
  }
  .fl_footer_logo,
  .fl_footer_nav,
  .fl_social_icon {
    width: 80%;
    justify-content: flex-start;
  }
}
